@{
    ViewData["Title"] = "DeliverNET | Businesses";
}

<div class="container text-bone h-100 w-100" style="text-align:center">
    <h1>
        <i>I AM A BUSINESSMAN, I AM A SWEET SWEET LOREM</i>
    </h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praeclare hoc quidem. Itaque a sapientia praecipitur se ipsam, si usus sit, sapiens ut relinquat. Oratio me istius philosophi non offendit; Quamquam tu hanc copiosiorem etiam soles dicere. Cuius quidem, quoniam Stoicus fuit, sententia condemnata mihi videtur esse inanitas ista verborum. Etenim nec iustitia nec amicitia esse omnino poterunt, nisi ipsae per se expetuntur. Duo Reges: constructio interrete. Simus igitur contenti his.

        Potius ergo illa dicantur: turpe esse, viri non esse debilitari dolore, frangi, succumbere. Restinguet citius, si ardentem acceperit. Ait enim se, si uratur, Quam hoc suave! dicturum. Non laboro, inquit, de nomine. Quorum sine causa fieri nihil putandum est. Eam tum adesse, cum dolor omnis absit; Erat enim res aperta.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praeclare hoc quidem. Itaque a sapientia praecipitur se ipsam, si usus sit, sapiens ut relinquat. Oratio me istius philosophi non offendit; Quamquam tu hanc copiosiorem etiam soles dicere. Cuius quidem, quoniam Stoicus fuit, sententia condemnata mihi videtur esse inanitas ista verborum. Etenim nec iustitia nec amicitia esse omnino poterunt, nisi ipsae per se expetuntur. Duo Reges: constructio interrete. Simus igitur contenti his.

        Potius ergo illa dicantur: turpe esse, viri non esse debilitari dolore, frangi, succumbere. Restinguet citius, si ardentem acceperit. Ait enim se, si uratur, Quam hoc suave! dicturum. Non laboro, inquit, de nomine. Quorum sine causa fieri nihil putandum est. Eam tum adesse, cum dolor omnis absit; Erat enim res aperta.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praeclare hoc quidem. Itaque a sapientia praecipitur se ipsam, si usus sit, sapiens ut relinquat. Oratio me istius philosophi non offendit; Quamquam tu hanc copiosiorem etiam soles dicere. Cuius quidem, quoniam Stoicus fuit, sententia condemnata mihi videtur esse inanitas ista verborum. Etenim nec iustitia nec amicitia esse omnino poterunt, nisi ipsae per se expetuntur. Duo Reges: constructio interrete. Simus igitur contenti his.

        Potius ergo illa dicantur: turpe esse, viri non esse debilitari dolore, frangi, succumbere. Restinguet citius, si ardentem acceperit. Ait enim se, si uratur, Quam hoc suave! dicturum. Non laboro, inquit, de nomine. Quorum sine causa fieri nihil putandum est. Eam tum adesse, cum dolor omnis absit; Erat enim res aperta.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praeclare hoc quidem. Itaque a sapientia praecipitur se ipsam, si usus sit, sapiens ut relinquat. Oratio me istius philosophi non offendit; Quamquam tu hanc copiosiorem etiam soles dicere. Cuius quidem, quoniam Stoicus fuit, sententia condemnata mihi videtur esse inanitas ista verborum. Etenim nec iustitia nec amicitia esse omnino poterunt, nisi ipsae per se expetuntur. Duo Reges: constructio interrete. Simus igitur contenti his.

        Potius ergo illa dicantur: turpe esse, viri non esse debilitari dolore, frangi, succumbere. Restinguet citius, si ardentem acceperit. Ait enim se, si uratur, Quam hoc suave! dicturum. Non laboro, inquit, de nomine. Quorum sine causa fieri nihil putandum est. Eam tum adesse, cum dolor omnis absit; Erat enim res aperta.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praeclare hoc quidem. Itaque a sapientia praecipitur se ipsam, si usus sit, sapiens ut relinquat. Oratio me istius philosophi non offendit; Quamquam tu hanc copiosiorem etiam soles dicere. Cuius quidem, quoniam Stoicus fuit, sententia condemnata mihi videtur esse inanitas ista verborum. Etenim nec iustitia nec amicitia esse omnino poterunt, nisi ipsae per se expetuntur. Duo Reges: constructio interrete. Simus igitur contenti his.

        Potius ergo illa dicantur: turpe esse, viri non esse debilitari dolore, frangi, succumbere. Restinguet citius, si ardentem acceperit. Ait enim se, si uratur, Quam hoc suave! dicturum. Non laboro, inquit, de nomine. Quorum sine causa fieri nihil putandum est. Eam tum adesse, cum dolor omnis absit; Erat enim res aperta.
    </p>

</div>